.paragraph p, .sidebar, .main-content {
  font-size: clamp(1rem, 1.5vw, 1.2rem);
}

h1 {
  font-size: clamp(1.8rem, 4vw, 2.5rem);
}

h2 {
  font-size: clamp(1.5rem, 3vw, 2rem);
}


/* simple grid layout */
.simple-grid {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background: white;
  border: 1px solid #ccc;
}

/* left sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: #eaeaea;
  padding: 1rem;
}

/* right column */
.main-content {
  grid-area: main;
  padding: 1rem;
}

/* phone screen */
@media (max-width: 600px) {
  .simple-grid {
    grid-template-areas:
      "main"
      "sidebar";
    grid-template-columns: 1fr;
  }

  .sidebar {
    margin-top: 1rem;
  }
}

body.dark .simple-grid {
  background-color: #333;
  border: 1px solid #666;
}

body.dark .sidebar {
  background-color: #444;
}

body.dark .main-content,
body.dark .sidebar {
  color: white;
}

